{% extends 'base.html' %}

{% block content %}
    <h1>Детализация заявки</h1>
    <hr>
    {% include 'repair.html' with repair=repair %}
    <hr>
    <form action="{% url 'repairs:detail' pk=repair.pk %}" method="post">
        {{ form }}
        {% csrf_token %}
        {% if user.role == 'TECHNICIAN' %}
                <button type="submit" class="btn btn-success">Обновить</button>
        {% endif %}
        {% if user.role == 'MASTER' %}
                <button type="submit" class="btn btn-success">Обновить</button>
        {% endif %}
        {% if user.role == 'WORKER' %}
                <button type="submit" class="btn btn-success">Обновить</button>
        {% endif %}
    </form>
{% endblock content %}